body {
    background: rgb(191,227,190);
background: linear-gradient(35deg, rgba(191,227,190,0.8576680672268908) 0%, rgba(208,226,148,1) 13%, rgba(232,230,191,1) 31%, rgba(239,239,238,1) 53%, rgba(229,227,237,1) 82%, rgba(208,192,241,1) 100%);
}
.BotonFlotante {
    position: fixed;
    top: 400px;
    left: 0px;
    background-color: #d0c0f1;
    padding: 10px;
    opacity: 1;
}