@charset "utf-8";
body {
    background: rgb(180, 174, 191);
background: linear-gradient(35deg, rgb(170, 150, 197) 0%, rgb(205, 194, 228) 19%, rgba(255,255,255,1) 36%, rgba(239,239,238,1) 53%, rgba(229,227,237,1) 82%, rgba(208,192,241,1) 100%);
}
.botonera {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.botonera a {
    text-decoration: none;
    font-size: 12pt;
    background-color: #fff;
    padding: 10px 60px;
    border-radius: 40px;
    transition: transform 0.2s ease;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
}
.botonera a:hover {
    transform: scale(1);
    font-weight: bolder;
    color: white;
    background-color: #b298d3;
}
nav ul li {
    display: inline;
}
ul {
    list-style: none;
}
.BotonFlotante {
    position: fixed;
    top: 400px;
    left: 0px;
    background-color: #d0c0f1;
    padding: 10px;
    opacity: 15;
}
h1{
    font-family: "DM Mono", monospace;
    font-weight: 400;
    color: #f8f8f8;
    text-align: center;
    background-color: #7548948a;
    padding: 20px 20px;
    border-radius: 40px;
    margin: 40px;
    display: flex; 
}
.soyanto p {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    color: #764894;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px 20px;
    border-radius: 40px;
    margin: 40px;
    display: flex; 
}
.soyanto {
    background-image: url(img/20220803_110349.jpg);
    height: 100vh;
    display: flex;
    background-size: cover;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: flex-start;
}
.sobremi {
    font-size: 20px;
    font-family: "DM Mono", monospace;
    font-weight: 400;
    color: #f8f8f8;
    text-align: center;
    background-color: #7548948a;
    padding: 20px 20px;
    border-radius: 40px;
    margin: 60px;
    display: flex;
    flex-direction: column;
}
h2 {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.aboutme {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.aboutme h2 {
    font-size: 20px;
    font-family: "DM Mono", monospace;
    font-weight: 400;
    color: #f8f8f8;
    text-align: center;
    background-color: #764894;
    padding: 20px 20px;
    border-radius: 40px;
    margin: 60px;
    display: flex;
    align-items: center;
}
.listasaboutme {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    color: #764894;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px 20px;
    border-radius: 40px;
    margin: 70px;
    display: flex; 
    flex-direction: column;
    border: 1px solid rgb(132, 17, 209);
    box-shadow: 0 0 5px #8246e969;
}
.listasaboutme h4 {
    font-size: 20px;
}
.tateti {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    color: #764894;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px 20px;
    border-radius: 40px;
    margin: 70px;
    display: flex; 
    flex-direction: column;
    border: 1px solid rgb(132, 17, 209);
    box-shadow: 0 0 5px #8246e969;
    width: 38%;
}
.tateti h4{
    font-size: 20px;
}
.proyectos img {
    margin: 20px 8px 60px 8px;
    align-content: center;
    cursor: pointer;
    padding: 30px;
    background-color: #ece8f3;
    border-radius: 40px;
}
.proyectos img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #8246e969;
    border-radius: 40px;
    filter: opacity(.6);
}
footer {
    background-color: #9882ba6b;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
    padding: 40px 30px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
}
footer p {
    border: 1px solid rgb(132, 17, 209);
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 10px;
}

